.login-main-box {
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 35vw;
  height: 30vh;

  border: 2px solid #228bec;
  border-radius: 3%;
}

.login-box div {
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login-box form {
  width: 80%;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
