.login-main-box {
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  min-width: 35vw;
  padding: 20px;

  border: 2px solid #228bec;
  border-radius: 15px;
}

.login-box form {
  width: 80%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-box th {
  text-align: right;
}

.login-box td{
  padding: 10px;
}

div.login-link-text {
  font-size: small;
  text-align: center;
}

a.local-use-link {
  width: 100%;
  text-align: center;
}