/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:hover {
  outline: 3px dashed #228bec;
  outline-offset: 0;
}
html {
  font: 15 sans-serif;
}
h1,
h2 {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
button::-moz-focus-inner {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
body {
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
  font: 1rem "Courier New";
  background-color: #f5f5f5;
  color: #4d4d4d;
}

.message-area {
  display: flex;
  flex-direction: column-reverse;
  bottom: 10px;
}
.message-line {
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.message-label {
  width: 13%;
}
.message-input {
  border: 0;
  padding: 1em;
  height: 1em;
  width: 87%;
  border-radius: 10px;
}
